<br>
<div class="container">
    <div class="row">
        <div class="col-12">
        <div class="text-right"><%= link_to 'Ir a Tabla Catálogo', books_path, class: 'btn btn-info' %></div>
            <h1 class="display-2 text-success">Catálogo de Libros</h1>
            <h2>Bienvenidos!!!</h2>
            <hr>
            <%= image_tag('libros.jpg', size: "1120x300", alt: "Libros", class: 'rounded', class: 'mx-auto d-block', class: 'img-fluid')%>
            <br>
            <hr>
        </div>
    </div>
            
            <br>
          </div>
        </div>
    </div>
<div class="row">
        <div class="col-12">
            <div class="media">
                 <div class="media-body">
                    <h5 class="display-4 text-success">Nuestro Catálogo</h5>
                    <p class="lead text-secondary">En este catálago podrás encontrar una lista con los libros más vendidos en el mundo, donde podrás conocer el nombre de sus autores, un pequeño resumen de los libros, su fecha de publicación y un precio de venta estimado de éstos.<br>
                    Adicionalmente, con solo registrarte, puedes colaborarnos adicionando nuevos títulos a nuestro catálogo para hacerlo aún más completo y nutrido.<br><br> Te esperamos!!</p>
                  <hr>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>